<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>All users</h2>
<div>
    <th:block th:include="menuPage">Menu</th:block>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Password</th>
            <th>Email</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getUsername()}">Login</td>
            <td th:text="${user.getPassword()}">Password</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getLastName()}">Lastname</td>
            <td>
                <div th:each="role: ${user.getRoles()}">
                    <span th:if="(${role.getName()} == 'ROLE_ADMIN')" th:utext="Admin"></span>
                    <span th:if="(${role.getName()} == 'ROLE_VIP')" th:utext="VIP"></span>
                </div>
            </td>
            <td>
                <form th:action="@{edit/{id}(id=${user.getId()})}" th:object="${user}">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{delete/{id}(id=${user.getId()})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <button type="submit">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{add}">
        <button type="submit">Add new user</button>
    </form>
</div>
</body>
</html>